{% extends "bootstrap/base.html" %}

{% block title %}Luke Mitchell{% endblock %}

{% block head %}
{{ super() }}

{% block child_head%}{%endblock child_head %}

{% endblock %}

{% block navbar %}
<div class="navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" >Luke Mitchell</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/resume">Resume</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
