{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>


{% block child_head%}{%endblock child_head %}

{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid" style="width: 80%">
        <a class="navbar-brand" href="/">Luke Mitchell</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-1">
                    <a class="{{ 'nav-link active' if active_page == 'home' else 'nav-link' }}" href="/">Home</a>
                </li>
                <li class="nav-item px-1">
                    <a class="{{ 'nav-link active' if active_page == 'projects' else 'nav-link' }}" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item px-1">
                    <a class="{{ 'nav-link active' if active_page == 'transit_isochrone' else 'nav-link' }}" href="/transit_isochrone">Transit Isochrone</a>
                </li>
                <li class="nav-item px-1">
                    <a class="{{ 'nav-link active' if active_page == 'transit_connectivity' else 'nav-link' }}" href="/transit_connectivity">Transit Connectivity</a>
                </li>
                <li class="nav-item px-1">
                    <a class="{{ 'nav-link active' if active_page == 'resume' else 'nav-link' }}" href="/resume">R&eacutesum&eacute</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
