{% extends "base.html" %}

{% block child_head %}
<style>

    #outer {
        position: relative;
        width: 90%;
        height: 90%;
        border: solid;
        border-width: 5px;
        border-color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        padding: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid" id="outer">
    <iframe src="https://storymaps.arcgis.com/stories/c0bd68d245ff4ba590b6c91021bce8f5" scrolling="auto"></iframe>
</div>



{% endblock %}
